@font-face {
  font-family: 'custom';
  src: url('custom.ttf');
}
body{
    font-family: 'custom', sans-serif;
    text-align: center;
    background-color: #ffffff;
    color: #1b1a16;
}
h4{
    margin-bottom: 5px;
    text-decoration: underline;
}
a{
    color: #740019;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.content{
    text-align: left;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
}