@font-face {
  font-family: 'IosevkaNerdFontMono-Regular';
  src: url('IosevkaNerdFontMono-Regular.ttf') format('woff2');
}
body{
    font-family: 'IosevkaNerdFontMono-Regular', sans-serif;
}
a{
    color: #000000;
    text-decoration: underline;
}
.main{
    font-size: 130%;
    font-family: Type Machine;
    text-decoration: underline;
    text-align: left;
    margin-top: 1%;
    margin-left: 1%
}
.content{
    text-align: left;
    width: 70%;
    margin-left: 1%;
    font-size: 100%;
}
