@font-face {
  font-family: 'TNR';
  src: url('times.ttf');
}
body{
    font-family: 'TNR', sans-serif;
    font-size: 100%;
    text-align: left;
    margin-top: 3%;
    margin-left: 10%;
    color: #333333;
}
#name{
    font-size: 300%;
    margin-bottom: 0%;
}
#bar{
    margin-bottom: 1%;
}
a{
    color: #001caa;
    text-decoration: none;
    font-size: 110%;
}
.content{
    text-align: left;
    width: 50%;
    font-size: 100%;
    margin-bottom: 3%;
}
